<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>Using Tensorflow.js</title>
</head>

    <body>
        <h2> <%= info %></h2>
        <table align="center">
            <tr>
                <td> <a href="run_three_layer_model"> Three-layer model</a></td>
            </tr>
            
            <tr>
                <td> <a href="run_xor_model" > XOR model</a> </td>
            </tr>

        </table>
    </body>

</html>