<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    <h2> Predicted output:</h2>
    <h3> <%= results.test1 %></h3>
    <h3> <%= results.test2 %></h3>
    <h3> <%= results.test3 %></h3>
    <h3> <%= results.test4 %></h3>

    
</body>

</html>