<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>BackProp Example</title>
</head>
<body>
    <h1> Results after 5000 epochs</h1>

    <ul>
        <% classificationResult.forEach(function(result){ %>
            <h2>
                <%= result %>
            </h2>
        <% }); %>
      </ul>
</body>
</html>